.tabs {
  /* display: flex; */
  justify-content: flex-end;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 300px;
}

button {
  padding: 10px 20px;
  border: 1px solid black;
  background: none;
  cursor: pointer;
  margin-right: 10px;
}

button.active {
  font-weight: bold;
}

.content {
  margin-right: 50px;
  margin-left: 300px;
  border: 1px solid black;
  text-align: left;
}

h3 {
  margin-left: 300px;
  text-align: left;
}
